.contenido{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify ;
    
}
.titulo{
    color:rgb(228, 110, 188);
    font: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.titulo2{
    color:rgb(91, 102, 245);
    font: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.met{
    color:rgb(228, 110, 188);
    font: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    padding-right: 120px;
}


