.img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.titulo{
    color:rgb(91, 102, 245);
    font: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.titulo1{
    color:rgb(228, 110, 188);
    font: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.titulo2{
    color:rgb(91, 102, 245);
    font: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    padding-right: 125px;
}

.contenido{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    
}
