<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img  src="/assets/sexo.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title class="titulo1">SexJoven</ion-title>
  </ion-toolbar>

</ion-header >
<ion-content>
  <ion-card>
    <img class="img" src="assets/4.jpg"/>
    <ion-card-header>
      <ion-card-title class="titulo">Bienvenidos a SexJoven</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      Somos una aplicación destinada a informar y educar a nuestros lectores en diferentes ámbitos de la Sexualidad, podrás encontrar distintos métodos de cuidado, conocer que enfermedades existen y poder prevenir de estas.    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <img class="img" src="assets/dudas.jpg"/>
    <ion-card-header>
      <ion-card-subtitle class="titulo">¿Qué son las ETS? </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      ETS es la sigla para designar las enfermedades de transmisión sexual. Abarca aquellas que se transmiten por medio del sexo vaginal, anal u oral sin preservativo, aunque también es posible contraerlas por administración de jeringas usadas y de la madre al bebé durante la gestación y el parto.  
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="titulo1">¿Qué son las ITS?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      La sigla ITS corresponde a infecciones de transmisión sexual. Al igual que las enfermedades, se transmiten por medio del contacto íntimo sin protección, los flujos sanguíneos o hacia el feto cuando la madre está infectada. 
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img class="img" src="assets/quienes.jpg"/>
    <ion-card-header>
      <ion-card-subtitle class="titulo">CONSEJO</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      No creas todo lo que te digan, protégete  y protege a los demás, tu salud es importante por eso siempre usa preservativo.
    </ion-card-content>
  </ion-card>
</ion-content>
